# Elastic Beanstalk
# Don't ignore the folder itself
!.elasticbeanstalk/
# Ignore everything inside it
.elasticbeanstalk/*
# But don't ignore these specific config files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
